/13IFejemplo.py
/14IFANIDADO.py
/15WHILE.py
/16whilepares.py
/17MATCH.py
/18INTERFAZ.py
/19figura.py
/1EJEMPLO.py
/20COLORES.py
/21.RELOJ.py
/22CALCULADORA.py
/23CALCULADORA2.py
/24CALCULADORA3.py
/25CALCULADORA4.py
/26RELOJ2.py
/27NAVEGAR.py
/28SESION1.py
/29SESION2.py
/2EJEMPLO.py
/30EJERCICIO.py
/31CODIGOQR.py
/33CALCULADORAREPASO.py
/4ECUACIONCUADRATICA.py
/5AREACIRCULO.py
/7calculo.py
/acceso.png
/areas.py
/cuestionario.pyw
/dos.png
/EJERCICIO1
/EJERCICIO2
/exam1
/EXAMEN3U
/fondo.png
/fondo1.png
/fondo2.jpg
/fondo3.jpg
/GAME
/Imagenes
/ingreso.png
/LOGIN
/logo.ico
/logo.png
/nuevo.py
/PyQt5
/Python.txt
/tempCodeRunnerFile.py
/tetris.mp3
/uno.png